<div class="col-12">
  <form>
    <table>
      <div class="form-group">
        <tr>
          <td>
            Unesite staru lozinku:
          </td>
          <td>
            <input class="form-control" type="password" name="oldPassword" [(ngModel)]="oldPassword">
          </td>
        </tr>
        <tr>
          <td>
            Unesite novu lozinku:
          </td>
          <td>
            <input class="form-control" type="password" name="newPassword" [(ngModel)]="newPassword">
          </td>
        </tr>
        <tr>
          <td>
            Potvrdite novu lozinku:
          </td>
          <td>
            <input class="form-control" type="password" name="newPasswordConfirmation" [(ngModel)]="newPasswordConfirmation">
          </td>
        </tr>
      </div>
      <tr>
        <td>
          <button (click)="resetPassword()" class="btn btn-primary">Resetujte lozinku</button>
        </td>
      </tr>
    </table>
  </form>
</div>
<div *ngIf='invalidDataMessage' class="invalid-data">{{invalidDataMessage}}</div>
